#!/bin/sh
exec tail -n +3 $0
# This file provides an easy way to add custom menu entries.  Simply type the
# menu entries you want to add after this comment.  Be careful not to change
# the 'exec tail' line above.
menuentry 'reinstall' --unrestricted {
	{% if efi is defined and efi == 1%}

	  set root='hd0,gpt{{part_no.stdout}}'
        {% else %}

	  set root='hd0,msdos{{part_no.stdout}}'
        {% endif %}

	if [ x$feature_platform_search_hint = xy ]; then
          search --no-floppy --fs-uuid --set=root --hint-bios=hd0,gpt{{part_no.stdout}} --hint-efi=hd0,gpt{{part_no.stdout}} --hint-baremetal=ahci0,gpt{{part_no.stdout}} {{uuid.stdout}}
        else
          search --no-floppy --fs-uuid --set=root {{uuid.stdout}}
        fi

	{% if efi is defined and efi == 1%}

	  linuxefi /os/{{default_os}}/vmlinuz {% for item in os_available[default_os].kparams %} {{ item.name }}{% if item.value is defined %}={{ item.value }}{% endif %}{% endfor %}

       	  initrdefi /os/{{default_os}}/initrd

        {% else %}

	  linux /boot/os/{{default_os}}/vmlinuz {% for item in os_available[default_os].kparams %} {{ item.name }}{% if item.value is defined %}={{ item.value }}{% endif %}{% endfor %}

       	  initrd /boot/os/{{default_os}}/initrd

        {% endif %}

          
}
